<div class="container">
    <h1> GITHUB SEARCH</h1>
    <h3>An application for searching github users and their github repositories</h3>
    <form class="search-form">
        <div class="form-group">
            <input type="text" class="form-control " placeholder="search username" [(ngModel)]="username"
                name="username" (keyup)="findProfile()">
        </div>
    </form>

    <div class="panel panel-default">
        <div class="panel-header">
            {{profile.name}} <small>({{profile.login}})</small>
             Works at {{user.company}}</span>
            {{profile.location}}
        </div>
        <div class="class panel-body">
            <div class="col-md-3">
                <img src="{{private.avatar_url}}" class="img-thumbnail github-avatar" alt="Profile Image">
            </div>
            <div class="col-md-5">
                <ul class="class list-group">
                    <li class="list-group-item"> {{profile.bio}} </li>

                    <li class="list-group-item"> Available for hire</li>

                    <li class="list-group-item" *ngIf="user.blog"><a href="{{user.blog}}"
                            target="_blank">{{profile.blog}}</a></li>

                    <li class="list-group-item" *ngIf="profile.email"> <a href="emailto:{{user.email}}"
                            target="_blank">{{user.email}}</a></li>

                    <!-- <li class="list-group-item" *ngIf="profile.bio"> {{profile.bio}} </li> -->
                </ul>

            </div>
            <div class="col-md-4">
                <div>
                    <p>
                        <span class="class label label-default">{{user.followers}} Followers</span>

                        <span class="class label label-primary"> Following {{user.following}} </span>

                        <span class="class label label-success"> Public gists {{user.public_gists}} </span>

                        <span class="class label label-info"> Public Repos {{user.public_repos}} </span>

                    </p>
                    <p><a href="{{user.html_url}}" class="btn btn-success btn-sm">View profile on github</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>